#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  user-select: none;
}

.container {
  border: 2px solid #d5d5d590;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  scale: 1.25;
}

.actions {
  margin-top: 10px;
}

.cards {
  max-width: 656.100px;
  padding-left: 0 !important;
}
